.dark_mode_btn_container {
  position: fixed;
  top: -120px;
  right: -100px;
  width: 170px;
  height: 200px;
  transform: rotate(-45deg);
  z-index: 100000000;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 22px;
  padding-top: 15px;
  transition: ease-in-out 200ms;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.138);
  /* opacity: 0.7; */
}
.heading {
  font-family: var(--cd);
  font-size: 80px;
  margin-bottom: 270px;
  z-index: 10 !important;
  position: relative !important;
  color: var(--textColor);
}
.outer_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}
.container {
  position: relative;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(7, 18, 41);
  overflow-y: hidden;
  overflow-x: hidden;
  animation: bg_wall 7s ease-in-out infinite;
  scroll-snap-align: center;
}
.lamp_cord, .lamp_cord_retracted {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: -20px;
  left: 8%;
  align-items: center;
  z-index: 1000;
  animation: sway 2.4s infinite;
  animation-timing-function: ease-in-out;
  -webkit-transform-origin: top;
  -moz-transform-origin: top;
  transition: ease-out 200ms;
  cursor: pointer;
  width: 150px;
}
.lamp_cord_retracted{
  animation: retract 1.5s cubic-bezier(0.075, 0.02, 0.165, 1);
  top: -400px;
}
@keyframes retract {
  0% {
    top: -20px;
  }
  10%{
    top: 0px;
  }
  30%{
    top: -400px;
  }
  100% {
    top: -400px;
  }
}
.lamp_cord:hover .tip_container {
  opacity: 0;
}
.lamp_cord:hover {
  /* animation: initial; */
}
.tip_container {
  width: 100px;
  position: absolute;
  bottom: 70px;
  left: 100px;
  padding: 5px 8px 5px 8px;
  background-color: rgba(255, 255, 255, 0.71);
  border-radius: 4px;
  display: grid;
  place-items: center;
  font-size: 12px;
  transition: ease-out 200ms;
}
.cord {
  height: 300px;
  border: 1px dashed white;
  width: 1px;
}
.lamp_handle {
  width: 20px;
  height: 70px;
  background-color: black;
  border-radius: 4px;
  background-image: linear-gradient(
    to right,
    rgb(33, 73, 154),
    black,
    black,
    rgb(76, 76, 76),
    grey,
    rgb(20, 58, 97)
  );
}
@keyframes sway {
  0% {
    transform: rotate(4deg);
  }
  50% {
    transform: rotate(-4deg);
  }
  100% {
    transform: rotate(4deg);
  }
}
.splash_screen {
  width: 100%;
  height: 100vh;
  background-color: black;
  /* background-image: linear-gradient(rgb(19, 25, 42), rgb(43, 20, 62)); */
  display: flex;
  flex-direction: column;
  row-gap: 25px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: absolute;
  z-index: 100000;
}
.marquee {
  justify-content: space-between !important;
}
.overlay {
  --gradient-color: initial !important;
  --gradient-width: initial !important;
}
.splash_heading {
  color: white;
  font-size: 70px;
  font-family: var(--cd);
}
.splash_screen_fade_away {
  opacity: 0;
  pointer-events: none;
}
.heading_container {
  position: absolute;
  top: -100px;
  z-index: -1;
  margin-right: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: fit-content;
  right: 0;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  transition: ease-out 200ms;
}

.intro_heading {
  color: white;
  font-family: var(--cd);
  font-size: 53px;
  text-align: center;
  width: 105%;
  z-index: 2;
  /* animation: float 3s ease-in-out infinite; */
}
.intro_subheading {
  color: white;
  font-family: var(--dm);
  font-size: 25px;
  z-index: 40;
  margin-top: 10px;
}
.table_top_content_container {
  width: 100%;
  height: 65vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  position: relative;
  min-height: 600px;
}
.down_arrow {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -17%;
  width: 40px;
  margin: auto;
  z-index: 50;
  animation: float 1.5s ease-out infinite;
  cursor: pointer;
}
.speaker_container_off {
  position: absolute;
  right: 7%;
  display: flex;
  flex-direction: column;
  align-items: center;
  bottom: 0;
  z-index: 25;
  cursor: pointer;
  transition: ease-out 150ms;
  /* animation: speaker_animation 2s cubic-bezier(0.075, 0.82, 0.165, 0.6) infinite; */
}
.system_off_overlay{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.495);
  z-index: 100;
  transition: ease-out 200ms;
}
.system_off_overlay_hidden {
  transition: ease-out 200ms;
  opacity: 0;
  pointer-events: none;
}

.speaker_container {
  position: absolute;
  right: 7%;
  display: flex;
  flex-direction: column;
  align-items: center;
  bottom: 0;
  z-index: 25;
  cursor: pointer;
  transition: ease-out 150ms;
}
@keyframes speaker_animation {
  0% {
    bottom: 0px;
  }
  15% {
    transform: rotate(0deg);
    bottom: 5%;
  }
  20% {
    transform: rotate(3deg);
    bottom: 5%;
  }
  25% {
    transform: rotate(-3deg);
    bottom: 5%;
  }
  30% {
    transform: rotate(3deg);
    bottom: 5%;
  }
  35% {
    transform: rotate(-3deg);
    bottom: 5%;
  }
  40% {
    transform: rotate(3deg);
    bottom: 5%;
  }
  45% {
    transform: rotate(-3deg);
    bottom: 5%;
  }
  50% {
    transform: rotate(3deg);
    bottom: 5%;
  }
  55% {
    transform: rotate(-3deg);
    bottom: 5%;
  }
  60% {
    transform: rotate(3deg);
    bottom: 5%;
  }
  65% {
    transform: rotate(-3deg);
    bottom: 5%;
  }
  70% {
    transform: rotate(3deg);
    bottom: 5%;
  }
  75% {
    transform: rotate(-3deg);
    bottom: 5%;
  }
  80% {
    transform: rotate(3deg);
    bottom: 5%;
  }
  85% {
    transform: rotate(-3deg);
    bottom: 5%;
  }
  100% {
    bottom: 0px;
  }
}
.speaker_top {
  width: 90px;
  background: #d9d9d9;
  border-radius: 5px 5px 0px 0px;
  height: 5px;
  position: relative;
  z-index: 20;
  transition: ease-in 200ms;
  animation: speaker_top_ambiance 2s ease-in-out infinite;
}
.speaker_top_off {
  width: 90px;
  background: #d9d9d995;
  border-radius: 5px 5px 0px 0px;
  height: 5px;
  position: relative;
  transition: ease-in-out 200ms;
}
.music_logo,
.music_logo_off {
  width: 27px;
  position: absolute;
  top: -60px;
  opacity: 0.8;
  left: 0;
  right: 20;
  margin-left: auto;
  margin-right: auto;
  animation: music_logo_animation 2s ease-out infinite;
  transition: ease-in-out 300ms;
}
.music_logo_2 {
  width: 77px;
  position: absolute;
  top: -10px;
  opacity: 0.8;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  animation: music_logo_animation_2 2s ease-out infinite;
  transition: ease-in-out 300ms;
}
.cup_container {
  position: absolute;
  width: 130px;
  z-index: 40;
  margin-right: 32%;
}
.music_logo_off {
  opacity: 0 !important;
}
@keyframes music_logo_animation_2 {
  0% {
    top: -10px;
    opacity: 0.8;
  }
  100% {
    top: -110px;
    opacity: 0;
  }
}
@keyframes music_logo_animation {
  0% {
    top: -60px;
    opacity: 0.8;
  }
  100% {
    top: -150px;
    opacity: 0;
  }
}
.speaker_body {
  width: 110px;
  height: 90px;
  background: linear-gradient(
    269.44deg,
    #2d2d2d 0.57%,
    #000000 48.21%,
    #1a1a1a 99.62%
  );
  border-radius: 5px 5px 0px 0px;
  z-index: 25;
  display: flex;
  align-items: center;
  justify-content: center;
}
.power_button,
.power_button_off {
  width: 20px;
  height: 20px;
  border: 3px solid rgb(255, 255, 255);
  box-shadow: 0px 0px 20px rgb(0, 81, 255);
  border-radius: 500px;
  margin-top: 40px;
  transition: ease-in-out 200ms;
}
.power_button_off {
  border: 3px solid rgba(215, 0, 0, 0.708);
  box-shadow: 0px 0px 00px rgba(0, 81, 255, 0);
  transition: ease-in-out 200ms;
}
@keyframes speaker_top_ambiance {
  0% {
    box-shadow: 0px 0px 20px 7px rgb(33, 104, 255);
  }

  50% {
    box-shadow: 0px 0px 20px 7px rgba(255, 27, 61, 0);
  }

  100% {
    box-shadow: 0px 0px 20px 7px rgb(55, 119, 255);
  }
}
@keyframes bg_wall {
  0% {
    background-color: rgb(8, 22, 54);
  }
  25% {
    background-color: rgb(38, 8, 60);
  }
  50% {
    background-color: rgb(57, 8, 16);
  }
  70% {
    background-color: rgb(55, 28, 7);
  }
  100% {
    background-color: rgb(7, 22, 56);
  }
}
.mid_dark_phase {
  z-index: 5;
  width: 80%;
  position: absolute;
  height: 100%;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.25),
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.25),
    rgba(0, 0, 0, 0)
  );
}
.heading_underline {
  z-index: 1 !important;
  width: 105%;
  height: 20px;
  margin-top: -28px;
  animation: heading_underline 7s ease-in-out infinite;
}
@keyframes heading_underline {
  0% {
    background-color: rgb(15, 64, 178);
  }
  25% {
    background-color: rgb(122, 9, 203);
  }
  50% {
    background-color: rgb(178, 18, 45);
  }
  70% {
    background-color: rgb(196, 97, 22);
  }
  100% {
    background-color: rgb(15, 64, 178);
  }
}
.shape1 {
  width: 75%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 10;
  animation: float 3s ease-in-out infinite;
}
.shape2 {
  width: 100%;
  position: absolute;
  bottom: -10px;
  z-index: 8;
  animation: float_reverse 3s ease-in-out infinite;
}
.shape3 {
  width: 100%;
  position: absolute;
  bottom: 0;
  z-index: 7;
  filter: drop-shadow(0px 0px 26px #01ffc3);
  animation: float 3s ease-in-out infinite;
}
.shape4 {
  width: 100%;
  position: absolute;
  bottom: 0;
  z-index: 6;
  filter: drop-shadow(0px 0px 26px #01ffc3);
  animation: float_reverse 3s ease-in-out infinite;
}
.shape5 {
  width: 100%;
  position: absolute;
  bottom: 0;
  z-index: 5;
  filter: drop-shadow(0px 0px 26px #01ffc3);
  animation: float_reverse 3s ease-in-out infinite;
}
.dotted_left {
  position: absolute;
  left: 30px;
  bottom: 40%;
  width: 70px;
  z-index: 23;
}
.dotted_right {
  position: absolute;
  right: 50px;
  bottom: 5%;
  width: 70px;
  z-index: 23;
}
.bubble {
  height: 90px;
  width: 90px;
  border-radius: 500px;
  position: absolute;
  left: 50px;
  bottom: 30%;
  z-index: 7;
  border: 2px solid white;
  box-shadow: 0px 0px 20px rgba(0, 126, 115, 0.608);
  animation: bubble1 2s ease-in-out infinite;
  backdrop-filter: blur(20px);
  background-image: linear-gradient(
    rgba(255, 255, 255, 0.363),
    rgba(255, 255, 255, 0.071)
  );
}
.bubble2 {
  height: 90px;
  width: 90px;
  border-radius: 500px;
  position: absolute;
  left: 100px;
  bottom: 20%;
  z-index: 6;
  border: 2px solid white;
  box-shadow: 0px 0px 20px rgba(0, 126, 115, 0.608);
  animation: bubble2 2s ease-in-out infinite;
  backdrop-filter: blur(20px);
  background-image: linear-gradient(
    rgba(255, 255, 255, 0.363),
    rgba(255, 255, 255, 0.071)
  );
}
.left_bean,
.left_bean_off {
  width: 14px;
  height: 80%;
  position: absolute;
  left: -7px;
  bottom: 0;
  background-color: white;
  border-radius: 100px;
  animation: beam_animation 7s ease-in-out infinite;
}
.right_bean,
.right_bean_off {
  width: 14px;
  height: 80%;
  position: absolute;
  right: -7px;
  bottom: 0;
  background-color: white;
  border-radius: 100px;
  animation: beam_animation 7s ease-in-out infinite;
}
.left_bean_off,
.right_bean_off {
  background-color: rgb(136, 136, 136);
  animation: initial;
}
@keyframes beam_animation {
  0% {
    box-shadow: 0px 0px 110px 17px rgb(33, 104, 255);
  }
  25% {
    box-shadow: 0px 0px 110px 17px rgb(161, 30, 255);
  }
  50% {
    box-shadow: 0px 0px 110px 17px rgb(255, 27, 61);
  }
  70% {
    box-shadow: 0px 0px 110px 17px rgb(255, 135, 43);
  }
  100% {
    box-shadow: 0px 0px 110px 17px rgb(55, 119, 255);
  }
}
.bg1 {
  width: 75%;
  max-width: 1300px;
  position: absolute;
  bottom: 0;
  left: -14%;
  opacity: 0.06;
  z-index: 6;
}
.bg2 {
  width: 65%;
  max-width: 700px;
  position: absolute;
  bottom: 0%;
  right: 0%;
  opacity: 0.06;
  transform: rotate(180deg);
  z-index: 6;
}
.table_container {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 20;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* position: relative; */
}
.table_top {
  width: 100%;
  height: 120px;
  position: relative;
  background: linear-gradient(
    270deg,
    #2b2b2b 0%,
    #000000 49.56%,
    #2f2f2f 88.13%
  );
  /* border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px; */
  animation: table_ambiance 7s ease-in-out infinite;
}
.table_top_cover {
  width: 100%;
  height: 120px;
  background: linear-gradient(
    270deg,
    #2b2b2b 0%,
    #000000 49.56%,
    #2f2f2f 88.13%
  );
  position: absolute;
  top: 0;
  z-index: 30;
  border-top: 5px solid rgb(170, 170, 170);
}
.table_mid {
  width: 100%;
  height: 40px;
  background-image: linear-gradient(black, #1c1c1c);
  z-index: 30;
  /* border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px; */
}
.legs_container {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.table_leg_left {
  width: 180px;
  background-color: black;
  height: 35px;
  z-index: 30;
}
.table_leg_right {
  width: 180px;
  background-color: black;
  height: 35px;
  z-index: 30;
}
.laptop_container {
  max-height: 280px;
  height: 50%;
  z-index: 22;
  position: relative;
  margin-bottom: -4px;
}
.laptop {
  height: 100%;
  z-index: 401;
  /* animation: laptop_ambiance 7s ease-in-out infinite; */
}
.laptop_text_container {
  position: absolute;
  width: 70%;
  height: 80%;
  left: 0;
  right: 10px;
  top: 0;
  bottom: 0;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 42;
}
.laptop_text_container span {
  font-family: var(--cd);
  color: rgb(255, 255, 255);
  font-size: 27px;
}
.screen_container {
  height: 90%;
  z-index: 22;
  max-height: 500px;
  z-index: 10;
  position: relative;
}
.screen_text_container {
  position: absolute;
  top: 30px;
  right: 0;
  left: 85px;
  bottom: 0;
  margin: auto;
  height: 80%;
  width: 70%;
  z-index: 25;
  transform: skew(0deg, 10deg);
}
.screen_text_container_right {
  position: absolute;
  top: -14px;
  right: 0;
  left: -48px;
  bottom: 0;
  margin: auto;
  height: 80%;
  width: 110%;
  z-index: 25;
  /* transform: skew(0deg, -10deg); */
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.linkedin_icon {
  width: 54%;
  transition: ease-in 200ms;
  animation: neonPulse 1s ease-out infinite;
  filter: drop-shadow(0px 0px 30px #0b86e3);
}
.link {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.resume_icon {
  width: 54%;
  transition: ease-in 200ms;
}
.social_container {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: skew(0deg, -10deg);
  transition: ease-in 200ms;
  row-gap: 8px;
}
.linkedin {
  opacity: 0;
  transition: ease-in 200ms;
  color: #0b86e3;
  font-size: 22px;
  transform: skew(0deg, 3deg);
  text-decoration: none !important;
}
@keyframes neonPulse {
  0% {
    filter: drop-shadow(0px 0px 30px #0b86e3);
  }
  50% {
    filter: drop-shadow(0px 0px 10px #0b86e3);
  }
  100% {
    filter: drop-shadow(0px 0px 30px #0b86e3);
  }
}
.resume_text {
  opacity: 0;
  transition: ease-in 200ms;
  color: #890be3;
  font-size: 22px;
  transform: skew(0deg, 3deg);
}
.social_container:hover .linkedin {
  opacity: 1;
  transition: ease-in 200ms;
  color: #0b86e3;
}
.social_container_2:hover .resume_text {
  opacity: 1;
  transition: ease-in 200ms;
}
.social_container:hover .linkedin_icon {
  filter: drop-shadow(0px 0px 14px rgb(13, 150, 255));
}
.social_container_2:hover .resume_icon {
  filter: drop-shadow(0px 0px 14px rgb(158, 13, 255));
}
.social_container_2:hover .resume {
  filter: drop-shadow(0px 0px 14px rgb(13, 150, 255));
}
.social_container_2 {
  row-gap: 10px;

  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: ease-in 200ms;

  /* background-color: red; */
  transform: skew(0deg, -4deg);
}
.code_1_line_1,
.code_1_line_2,
.code_1_line_3,
.code_1_line_4 {
  width: 90%;
  height: 3px;
  background-color: #da8300;
  margin-bottom: 10px;
}
.code_1_line_1 {
  animation: code_1_line_1 1s ease-out;
}
.code_1_line_2 {
  width: 70%;
  animation: code_1_line_2 2s ease-out;
}
.code_1_line_3 {
  width: 80%;
  animation: code_1_line_3 3s ease-out;
}
.code_1_line_4 {
  width: 20%;
  animation: code_1_line_4 4.5s ease-out;
}

@keyframes code_1_line_1 {
  0% {
    width: 0%;
  }
  100% {
    width: 90%;
  }
}
@keyframes code_1_line_2 {
  0% {
    width: 0%;
  }
  50% {
    width: 0%;
  }
  100% {
    width: 70%;
  }
}
@keyframes code_1_line_3 {
  0% {
    width: 0%;
  }
  30% {
    width: 0%;
  }
  70% {
    width: 0%;
  }
  100% {
    width: 80%;
  }
}
@keyframes code_1_line_4 {
  0% {
    width: 0%;
  }
  30% {
    width: 0%;
  }
  70% {
    width: 0%;
  }
  80% {
    width: 0%;
  }
  100% {
    width: 20%;
  }
}

.code_2_line_1,
.code_2_line_2 {
  width: 20%;
  height: 3px;
  background-color: #971dbc;
  margin-bottom: 10px;
}
.code_2_line_1 {
  margin-top: 30px;
  animation: code_2_line_1 5.5s ease-out;
}
.code_2_line_2 {
  width: 40%;
  animation: code_2_line_2 7s ease-out;
}

@keyframes code_2_line_1 {
  0% {
    width: 0%;
  }
  30% {
    width: 0%;
  }
  70% {
    width: 0%;
  }
  90% {
    width: 0%;
  }
  100% {
    width: 20%;
  }
}
@keyframes code_2_line_2 {
  0% {
    width: 0%;
  }
  30% {
    width: 0%;
  }
  70% {
    width: 0%;
  }
  80% {
    width: 0%;
  }
  100% {
    width: 40%;
  }
}

.code_3_line_1,
.code_3_line_2,
.code_3_line_3,
.code_3_line_4,
.code_3_line_5 {
  width: 50%;
  height: 3px;
  background-color: #0b86e3;
  margin-bottom: 10px;
}
.code_3_line_1 {
  margin-top: 30px;
  animation: code_3_line_1 7.5s ease-out;
}
.code_3_line_2 {
  width: 40%;
  animation: code_3_line_2 8.5s ease-out;
}
.code_3_line_3 {
  width: 90%;
  animation: code_3_line_3 9.5s ease-out;
}
.code_3_line_4 {
  width: 70%;
  animation: code_3_line_4 10.5s ease-out;
}
.code_3_line_5 {
  width: 20%;
  animation: code_3_line_5 11.5s ease-out;
}
@keyframes code_3_line_1 {
  0% {
    width: 0%;
  }
  90% {
    width: 0%;
  }
  100% {
    width: 50%;
  }
}
@keyframes code_3_line_2 {
  0% {
    width: 0%;
  }
  90% {
    width: 0%;
  }
  100% {
    width: 40%;
  }
}
@keyframes code_3_line_3 {
  0% {
    width: 0%;
  }
  90% {
    width: 0%;
  }
  100% {
    width: 90%;
  }
}
@keyframes code_3_line_4 {
  0% {
    width: 0%;
  }
  90% {
    width: 0%;
  }
  100% {
    width: 70%;
  }
}
@keyframes code_3_line_5 {
  0% {
    width: 0%;
  }
  90% {
    width: 0%;
  }
  100% {
    width: 20%;
  }
}

.screen,
.screen_right_off {
  height: 100%;
  z-index: 22;
  margin-left: -40px;
  animation: screen_ambiance 7s ease-in-out infinite;
}
.screen_left,
.screen_left_off {
  height: 100%;
  z-index: 22;
  margin-right: -40px;
  transform: scaleX(-1);
  animation: screen_ambiance 7s ease-in-out infinite;
}
.screen_right_off,
.screen_left_off {
  animation: initial;
}
.cup_wrapper {
  position: relative;
}
.cup {
  width: 130px;
  z-index: 10;
  position: relative;
  margin-bottom: -4px;
}
.smoke1 {
  position: absolute;
  bottom: 35%;
  width: 40px;
  left: 40px;
  right: 0;
  margin-right: auto;
  margin-left: auto;
  z-index: 7;
  opacity: 0.8;
  animation: smoke_animation 3s ease-out infinite;
}
@keyframes smoke_animation {
  0% {
    bottom: 35%;
    opacity: 0.8;
  }
  100% {
    bottom: 120%;
    opacity: 0;
  }
}
@keyframes screen_ambiance {
  0% {
    filter: drop-shadow(0px 0px 20px rgb(33, 104, 255));
  }
  25% {
    filter: drop-shadow(0px 0px 20px rgb(161, 30, 255));
  }
  50% {
    filter: drop-shadow(0px 0px 20px rgb(255, 27, 61));
  }
  70% {
    filter: drop-shadow(0px 0px 20px rgb(255, 135, 43));
  }
  100% {
    filter: drop-shadow(0px 0px 20px rgb(55, 119, 255));
  }
}
@keyframes bg1 {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-4deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes bg2 {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(4deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes table_ambiance {
  0% {
    box-shadow: 0px 0px 30px 10px rgb(33, 104, 255);
  }
  25% {
    box-shadow: 0px 0px 30px 10px rgb(161, 30, 255);
  }
  50% {
    box-shadow: 0px 0px 30px 10px rgb(255, 27, 61);
  }
  70% {
    box-shadow: 0px 0px 30px 10px rgb(255, 135, 43);
  }
  100% {
    box-shadow: 0px 0px 30px 10px rgb(55, 119, 255);
  }
}

@keyframes bubble2 {
  0% {
    left: 100px;
    bottom: 20%;
    opacity: 1;
  }

  100% {
    left: 350px;
    bottom: 90%;
    opacity: 0;
  }
}
@keyframes bubble1 {
  0% {
    left: 180px;
    bottom: 5%;
    opacity: 1;
  }

  100% {
    left: 50px;
    bottom: 90%;
    opacity: 0;
  }
}
@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(10px);
  }
  100% {
    transform: translatey(0px);
  }
}
@keyframes float_reverse {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-10px);
  }
  100% {
    transform: translatey(0px);
  }
}

@media screen and (max-width: 1035px) {
  .laptop_container {
    height: 35%;
    z-index: 22;
    position: relative;
    margin-bottom: -4px;
  }
  .cup_container {
    position: absolute;
    width: 130px;
    z-index: 40;
    margin-right: 84%;
  }
  .screen_container {
    height: 75%;
    z-index: 22;
    /* margin-left: -40px; */
    z-index: 10;
    position: relative;
  }
}

@media screen and (max-width: 778px) {
  .laptop_container {
    height: 30%;
    z-index: 22;
    position: relative;
    margin-bottom: -4px;
  }
  .cup_container {
    position: absolute;
    width: 130px;
    z-index: 40;
    margin-right: 84%;
  }
  .screen_container {
    height: 55%;
    z-index: 22;
    /* margin-left: -40px; */
    z-index: 10;
    position: relative;
  }
  .laptop_text_container span {
    font-family: var(--cd);
    color: rgb(255, 255, 255);
    font-size: 17px;
  }
}

@media screen and (max-width: 600px) {
  .splash_heading {
    font-size: 30px;
  }
  .heading_container {
    position: absolute;
    top: -178%;
    z-index: 40;
    /* margin-right: 12px; */
  }
  .heading_container h2 {
    font-size: 30px;
  }
  .heading_container h3 {
    font-size: 20px;
  }
  .heading_underline {
    height: 10px;
    margin-top: -14px;
  }
  .laptop_container {
    height: 24%;
    z-index: 22;
    position: relative;
    margin-bottom: -4px;
  }
  .screen,
  .screen_right_off {
    height: 100%;
    z-index: 22;
    margin-left: -120px;
    animation: screen_ambiance 7s ease-in-out infinite;
  }
  .screen_left,
  .screen_left_off {
    height: 100%;
    z-index: 22;
    margin-right: -120px;
    transform: scaleX(-1);
    animation: screen_ambiance 7s ease-in-out infinite;
  }
  .screen_right_off, .screen_left_off {
    animation: initial;
  }
  .cup {
    width: 80px;
    z-index: 10;
    position: relative;
    margin-bottom: -4px;
  }
  .cup_container {
    margin-right: 60%;
  }
  .smoke1 {
    width: 20px;
    left: -25px;
  }
  .screen_text_container {
    left: 65px;
    height: 80%;
    width: 160%;
  }
  .screen_text_container_right {
    width: 120px;
    right: 22px;
    left: initial;
    height: 55%;
    top: 38px;
    margin: initial;
  }
  .speaker_container {
    display: none;
  }
  .bg1 {
    display: none;
  }
  .bg2 {
    display: none;
  }
}
